body {
    
     text-align: center;
     background-image: url("https://media.giphy.com/media/QT2JFYvSD0ilO/giphy.gif");
    text-decoration: none;
 }
 
 
 h1, p {
    
     background-color: black;
    font-family: 'Short Stack', cursive;
    color: yellow;
 }
 
 p {
    
     font-size: 23px;
     background-color: black;
    color: #39FF14
 }
 
 h2{
     
     color:red;
     font-family:'arial', 'new times roman'
 }
 
 
 .kasten{
     
     width:1000px;
     height: 1170px;
     background-color:white;
     margin: 0 auto;
 }
 
 .bild-kasten{
     
     border-style: dotted;
     border-width: 5px;
     color:red;
 }
 
 h3 {
     
     color:aqua;
     background-color: deeppink;
 }
 
 .mein-blog {
     
     font-family: 'Nosifer', cursive;
     font-family: 'Alfa Slab One', cursive;
 }
 
 strong {
     
     color:blue;
 }