body {

  color: #555;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  padding: 0 0 1em;
  text-align: center;
}
h1{margin-top:2em;}
.directory-grid {
  margin-left: 10%;
  display: grid;
  text-align: center;
  grid-auto-rows: minmax(50px, auto);
  grid-template-columns: 1fr 1fr 1fr
}

.griditem {
  align-self: center;
}


.griditem {
  align-self: center;
}

  .nav-grid {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr 1fr 1fr 1fr 
    align-items: center;
  }
  .nav-item {
    text-align: center;
    color:#555;
    border-bottom:1px solid transparent;
    transition:all .2s;
  }
  .nav-item:hover {
  color:#56D356;
    border-bottom:1px solid #56D356;
  }
  .nav-item-1 {
    grid-column: 5;
  }
  .nav-item-2 {
    grid-column: 6;
  }
  .nav-item-3 {
    grid-column: 7;
  }

/* Header Styles */
  button {
    font-weight: bold;
    font-size: 1.2em;
    border-radius: .2em;
    color: #fff;
    border: none;
    padding: .9em;
    background-color: #10910e;
    transition: all .5s;
  }
  button:hover {

    box-shadow: 0 0 6px 1px rgba(72,255,0,0.5) ;
  }
  button:focus,
  button:active {
    border: none;
    outline: none;
  }

/* Media Queries   */
  /* Larger than mobile */
  @media (min-width: 400px) { }

  
  /* Larger than smalltablet  */
  @media (min-width: 550px) { }

  /* Larger than tablet */
  @media (min-width: 750px) { }

  /* Larger than desktop */

  @media (min-width: 1000px) { }

  /* Larger than Desktop HD */
  @media (min-width: 1200px) { }

