@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #00a5f7;
}

@media only screen and (max-width: 820px)  {
  #pages-area{
    width: 98%;
    margin-left: 1%;
    width: calc(98% - 20px);
  }
  .page-box {
    width: 100%;
  }
}

@media only screen and (min-width: 820px)  {
  #pages-area{
    width: 800px;
    left: 50%;
    transform: perspective(1px) translateX(-50%);
  }
  .page-box {
    width: calc(48% - 20px);
  }
}
#pages-area {
  display: inline-block;
  position: absolute;
}

.page-box {
  min-height: 100px;
  max-height: 200px;
  background: white;
  color: #47525d;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  transition: all .2s ease-in-out;
  text-align: center;
  position: relative;
  border-left: 7px solid;
  float: left;
  transition: .4s;
}

.page-box>h4 {
  font-size: 15px;
  word-break: break-word;
  white-space: normal;
  position: absolute;
  width: calc(100% - 14px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  font-weight: normal;
}

.page-box:nth-child(5n+1){
  border-left-color: #ff7cd7;
}
.page-box:nth-child(5n+2){
  border-left-color: #76da64;
}
.page-box:nth-child(5n+3){
  border-left-color: #F7AA17;
}
.page-box:nth-child(5n+4){
  border-left-color:#ef6471;
}
.page-box:nth-child(5n+5){
  border-left-color:#50e0ef;
}

.page-box:hover {
  border-left-width: 70px;
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

#github-link-back {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  background: white;
  color: steelblue;
  padding: 10px;
  text-decoration: none;
}

#github-link-back:hover {
  text-decoration: underline;
}

.style-select-wrap {
  left: 50%;
  transform: perspective(1px) translateX(-50%);
  position: relative;
  padding: 20px 0px 20px 0px;
  display: inline-block;
  z-index: 100;
}

.style-list-wrap {
    visibility: hidden;
    background: #ecf0f1;
    padding-top: 5px;
    width: 200px;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 64px;
    transition: visibility 1s linear, max-height 1s linear;
    border-radius: 0px 0px 5px 5px;
}

.slide-down {
    max-height: 1000px;
    visibility: visible;
}

.style-select {
  width: 200px;
  padding: 15px;
  background: #ecf0f1;
  border-radius: 5px;
  color: steelblue;
  cursor: pointer;
}

.style-list {
    background: #ecf0f1;
    list-style: none;
    color: steelblue;
    margin: 0;
    padding: 0;
}

.style-select-active {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid grey;
  border-bottom: none;
}

.select-icon {
  float: right;
}

.style-list-item {
    padding: 15px 15px 15px 15px;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.style-list-item:hover {
    background: #bdc3c7;
}

.style-list-item:last-child {
    border-bottom: none;
}

@media only screen and (max-width: 414px) {
  #github-link-back {
    position: initial;
    text-align: center;
    display: block;
  }
}
